* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/Backgrounds/default-background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Prevent scrolling */
}

/* ------------------------- */
/*     Menubar properties    */
/* ------------------------- */
.Menubar {
    background-color: transparent;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 20px; /* Add some padding to align content nicely */
}

.Toolbar {
    background-color: transparent;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 145px;
    height: calc(100vh - 55px); /* Adjusted height to match .Menubar */
    position: fixed;
    top: 55px; /* Starts just below the .Menubar */
    left: 0; /* Align to the left of the viewport */
    z-index: 999; /* Ensure it's below the .Menubar but above other content */
}

.ToolSettingsbar {
    background-color: transparent;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: calc(100% - 145px); /* Make it take the rest of the space next to .Toolbar */
    height: 40px; 
    position: fixed;
    top: 55px; /* Position it right below the .Menubar */
    left: 145px; /* Position it next to the .Toolbar */
    z-index: 999; /* Ensure it's on the same level as .Menubar */
    display: flex;
}