/* ui.css */

.tools-icon {
    height: 40px; /* Adjust the size of the icon */
    margin-right: 15px; /* Space between the icon and the text */
}

.tools-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    display: flex;
    align-items: center;
    margin-right: 80px; /* Add some spacing between buttons */
    position: relative; /* Make the button container relative */
}

.file-button, .select-button, .colors-button, .settings-button, .undo-button, .redo-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 10px; /* Add padding for larger button size */
    margin: 5px; /* Add margin for spacing between buttons */
}

.file-button img, .file-button span, .select-button img, .select-button span, .colors-button img, 
.colors-button span, .settings-button img, .settings-button span, .undo-button img, .undo-button span,
.redo-button img, .redo-button span {
    pointer-events: none; /* Ensure the click goes to the button, not the inner elements */
}

.file-icon, .select-icon, .colors-icon, .settings-icon, .undo-icon, .redo-icon {
    height: 40px; /* Adjust the size of the icon */
    margin-right: 15px; /* Space between the icon and the text */
}

.file-text, .select-text, .colors-text, .settings-text, .undo-text, .redo-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.file-button:hover, .select-button:hover, .colors-button:hover, .settings-button:hover, .undo-button:hover, .redo-button:hover, .toolbar-button:hover {
    opacity: 0.7; /* Optional: Add a hover effect */
}

.toolbar-button img {
    width: 32px; /* Adjust the size of the icons */
    height: 32px; /* Adjust the size of the icons */
    margin: 10px; /* Add margin for spacing between toolbar icons */
    cursor: pointer;
}
